@model SubjectDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div>
    <fieldset>
        <legend>Subject information</legend>
        <form method="post" asp-controller="Subjects" asp-action="SubjectEdit">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Comment</td>
                    <td></td>
                </tr>

                <tr>
                    <input type="hidden" asp-for="Subject.ID" />
                    <td>
                        <input class="form-control" readonly="readonly" asp-for="Subject.SubjectName" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="Subject.SubjectPhone" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="Subject.SubjectComment" />
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="Save" />
        </form>
    </fieldset>
</div>

<br>

<div>
    <fieldset>
        <legend>Subject certificates</legend>
        <table class="table">
            <tr>
                <td>Hash</td>
                <td>Algorithm</td>
                <td>Start date</td>
                <td>End date</td>
                <td></td>
            </tr>

            @foreach (var item in @Model.Subject.CertificateList)
            {
                <tr>
                    <td>@item.CertificateHash</td>
                    <td>@item.Algorithm</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>
                        <a asp-controller="Subjects" asp-action="CertificateDelete" asp-route-subjectId=@Model.Subject.ID asp-route-certificateId=@item.ID ><img src="/icons/32/delete.png" width=23 height=23 /></a>
                    </td>
                </tr>
            }

        </table>
    </fieldset>
</div>