@model UserDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div>
    <fieldset>
        <legend>Данные пользователя</legend>
        <form method="post" asp-controller="Users" asp-action="Edit">
            <table class="table table-hover table-sm table-stripped">
                <thead class="thead-dark">
                    <tr>
                        <th>Имя</th>
                        <th>Номер телефона</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <input type="hidden" asp-for="User.ID" />
                        <td>
                            <input asp-for="User.UserName" readonly="readonly" />
                        </td>
                        <td>
                            <input asp-for="User.UserPhone" />
                        </td>
                        <td>
                            <input asp-for="User.UserComment" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary" value="Сохранить" />
        </form>

        <br />

        <table class="table table-hover table-sm table-stripped">
             <thead class="thead-dark">
                 <tr>
                     <th>Хеш</th>
                     <th>Алгоритм</th>
                     <th>Дата начала</th>
                     <th>Дата окончания</th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in @Model.User.CertificateList)
                {
                    <tr>
                        <td>@item.CertificateHash</td>
                        <td>@item.Algorithm</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>
                            <a asp-controller="Users" asp-action="RemoveCertificate" asp-route-certID=@item.ID asp-route-userID=@Model.User.ID>Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
