@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Certificates list</h1>
    <table class="table">
        <tr>
            <td>
                <p>Subject full name</p>
            </td>
            <td>
                <p>Subject phone</p>
            </td>
            <td>
                <p>Subject email</p>
            </td>
            <td>
                <p>Cert hash</p>
            </td>
            <td>
                <p>Cert algorithm</p>
            </td>
            <td>
                <p>Start date</p>
            </td>
            <td>
                <p>End date</p>
            </td>
        </tr>
        
        @foreach (var item in @Model.Certificates)
        {
            <tr>
                <td>
                    <p>@item.Subject.FullName</p>
                </td>
                <td>
                    <p>@item.Subject.PhoneNumber</p>
                </td>
                <td>
                    <p>@item.Subject.Email</p>
                </td>
                <td>
                    <p>@item.Hash</p>
                </td>
                <td>
                    <p>@item.Algorithm</p>
                </td>
                <td>
                    <p>@item.StartDate</p>
                </td>
                <td>
                    <p>@item.EndDate</p>
                </td>
            </tr>
        }
        
    </table>
</div>
